* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;

}

.main-container {
    min-width: 100%;
    height: 100%;

}

header {
    display: flex;
    justify-content: center;
    gap: 30%;
    width: 100%;
    height: 116px;
    background-color: #1d1d1d;
    color: white;
    margin: auto;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 100px;
    font-size: 24px;
    font-weight: 400;
    /* line-height: 100px; */
    padding-top: 35px;
    cursor: pointer;
}

nav ul li {
    cursor: pointer;
    border-bottom: white;

}

nav ul li:hover {
    cursor: pointer;
    border-bottom: 1px solid white;

}

nav ul a {
    color: white;
    text-decoration: none;
}

input {
    margin-top: 15px;
    background-color: #484848;
    width: 220px;
    height: 52px;
    border-radius: 8px;
    padding: 8px 0px 8px 50px;
    color: white;
    font-size: 18px;
    border: none;
}

input::placeholder {
    color: white;
    font-size: 20px;
}

.search-section {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    top: 42px;
    right: 85%;
    color: white;
    font-size: 15px;
}

#video-section {
    width: 100%;
    height: calc(10% - 116px);
    position: relative;

}

video {
    width: 100%;
    height: calc(100vh - 123px);
    object-fit: cover;
}

.banner {
    width: 637.81px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: #fff0bb;
    border-radius: 0 0 16px 16px;
    border: 2px solid #F3BD00;
    border-top: none;
    position: absolute;
    z-index: 11;
    transform: translateX(110%);
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 5px;

}

/* .banner p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 3px;
} */

.banner img {
    width: 198.81px;
    height: 24px;

}

.banner a {
    font-size: 16px;
    font-weight: 400;
}

/* Intrroduction Section Starts*/

#introduction {
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
}

.designation {
    width: 39%;
    height: 80%;
    align-content: center;
    margin-top: 120px;
    padding-left: 80px;
}

.designation h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}

.designation h4 {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
}

.designation p {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    margin-left: 3px;


}

.photo {
    width: 40%;
    height: 80%;


}

.photo img {
    width: 860px;
    height: 920px;
    position: absolute;
    transform: translateY(-45%);
    filter: grayscale(100%);
    /* filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5)); */

}

#btn {
    width: 199px;
    height: 44px;
    background-color: #0948B4;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
}

#work {
    width: 151px;
    height: 44px;
    border: 2px solid #0948B4;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

/* Introduction  ends here*/

/* Role starts here */

#suitable {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1515px;
    margin: 70px auto;

}

.role {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 100%;
    border-radius: 16px;
    padding: 24px 0px;


}

.role h2 {
    padding-left: 50px;
    border-bottom: 2px solid black;
    width: 50%;
    padding: 20px 10px 5px 5px;
    margin-left: 385px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;

}


.web-role {
    margin-right: 180px;
    margin-bottom: 20px;
}

.web-role span {
    margin-left: 15%;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;



}

/* Role ends here */

/* Expertise starts hhere */

#expertise {
    width: 1515px;
    margin: 70px auto;
}

#expertise h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 60px;
}

.expertise-outerbox {
    display: flex;
    justify-content: start;
    text-align: start;
    gap: 30px;
    box-shadow: 0px 8px 40px 0px #0000001A;
    border-radius: 16px;
    padding: 20px;
    width: 1480px;

}

.expertise-innerbox {
    width: 40%;
    text-align: start;
    margin-top: 10px;

}

.expertise-innerbox h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: start;
    margin-bottom: 10px;

}

.expertise-innerbox p {
    text-align: start;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;

}

.expertise-outerbox img {
    width: 250px;
    height: 230px;
    border-radius: 8px;
}

/* Expertise ends hhere */

/* Tech Skills starts here */

#tech-skills {
    width: 1515px;

}

#tech-skills h2 {
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    margin-left: 200px;
}

.scrollbar {
    width: 115%;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    gap: 40px;
    scroll-behavior: smooth;
    padding-left: 170px;

}

.scrollbar img {
    width: 100px;
    height: 100px;
    margin: 5px;
    object-fit: contain;
    border-radius: 8px;


}

.scrollbar .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 35px;
}

.scrollbar p {
    font-family: "Lato", serif;
    font-size: 29.5px;
    font-weight: 500;

}


/* Tech Skills ends here */

/* Softskills starts here */


#softskills {
    width: 1515px;
    margin: 70px auto;
}

#softskills h2 {
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    margin-left: 10px;
}

.softskills-box {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    gap: 2%;
    width: 1510px;
    height: 250px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 8px 40px 0px #0000001A;
    margin-left: 10px;

}

.softskills-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.softskills-box div p {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
}

.softskills-box div img {
    width: 70px;
    height: 70px;
    top: 5px;
    left: 5px;
    gap: 0px;
    opacity: 0px;

}



/* Softskills ends here */


/* Projects starts here */

#projects {
    width: 1515px;
    margin: 70px 20px;

}

#projects h2 {
    margin-bottom: 8%;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    margin-left: 180px;

}

.projects-all {
    height: 45vh;
    /* background-color: #a7bee6; */
    display: flex;
    gap: 10px;
    width: 111%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    scrollbar-width: none;
    margin-bottom: 50px;
    border-radius: 16px;
    /* box-shadow: 0px 8px 40px 0px #0000001A; */
    cursor: pointer;
    padding-left: 180px;


}

.projects-outerbox {
    width: 350px;
    height: 365px;
    border-radius: 16px;
    box-shadow: 0px 8px 40px 0px #0000001A;
    padding: 25px;
    padding-bottom: 30px;
    margin: auto;

}

.projects-innerbox {
    width: 354px;
    height: 332px;

}

.projects-img img {
    width: 354px;
    height: 204px;
    border-radius: 8px;
}

.projects-description {
    width: 315px;
    height: 112px;

}

.projects-description p {
    max-width: 20px;
}

.view-projects {
    width: 354px;
    height: 44px;
    border-radius: 8px;
    background-color: #0948B4;
    border: none;
    color: white;
    cursor: pointer;
}

.view-projects:hover{
    background-color: #235bca;

}

/* Projects ends here */


.scrollButton {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;

}

#left {
    display: inline-block;
    cursor: pointer;
}

#right {
    display: inline-block;
    cursor: pointer;
}


/* Experience starts here */

#experience {
    width: 1515px;
    margin: 90px auto;
    height: 40vh;
}

#experience h2 {
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    /* margin-left: 10px; */
}

.experience-container {
    display: flex;
    gap: 10%;
    width: 1520px;
    height: 188px;
}

.experience-box {
    display: flex;
    width: 590px;
    height: 188px;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0px 8px 40px 0px #0000001A;
    gap: 80px;
}

.experienceimg-box {
    align-content: center;
    width: 261px;
}

.experienceimg-box img {
    width: 320px;
    object-fit: contain;
    height: 110px;
    margin-left: 15px;

}

#experience button {
    width: 250px;
    height: 45px;
    cursor: pointer;
    border-radius: 8px;
    background: #0948B4;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-left: 50px;
}

.company {
    width: 257px;
    height: 140px;
}

.company h4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 70px;

}

/* Experience ends here */

/* Qualification starts here */

#qualification {
    width: 1515px;
    margin: 70px auto;
}

#qualification h2 {
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}

.circle {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 20px;
    margin-right: 15.5px;

}

.dot {
    height: 25px;
    width: 25px;
    background-color: #1d1d1d;
    border-radius: 50%;
    position: relative;
}

.line {
    border-left: 4px solid #1D1D1D;
    height: 500px;
    margin-left: 10px;
    position: absolute;
    transform: translateY(3%);

}

.education {
    display: flex;
    justify-content: center;
    height: 640px;
    gap: 380px;
    margin: auto;
}

.education-left {
    display: flex;
    justify-content: start;
    width: 455px;
    height: 640px;


}

.education-bg {
    width: 415px;
    height: 640px;

}

.education-bg h4 {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}

.education-bg span {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #555555;

}

.ssc,
.hsc,
.bachelors,
.masters,
.certificates {
    margin-bottom: 32px;
}

.education-right {
    width: 590px;
    height: 500px;
    justify-content: end;
    margin-top: 45px;

}

.education-right img {
    width: 590px;
    height: 358px;
    border-radius: 16px;
}

.education-para {
    margin-top: 10px;
    width: 500px;
    height: 144px;
    color: #555555;

}

.education-right p {
    font-size: 24px;
    font-weight: 400;
}

/* Qualification ends here */

/* footer */

footer {
    margin-top: 200px;
    background-color: #1d1d1d;
    min-height: 20%;
    width: 100%;
    height: 350px;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.profile-circle img {
    border: 5px solid #1D1D1D;
    border-radius: 600px;
    width: 201.3px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    left: 45%;
    bottom: 90%;
    filter: grayscale(100%);
}

.contact-me {
    text-align: center;
    line-height: 50px;

}

.info h2 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.02em;
}

.info span {
    font-size: 16px;
    font-weight: 300;
    margin-left: 20px;
}

.contact-btn {
    text-align: center;
}

.info {
    margin-top: 60px;
}

/* footer */

#btn:hover {
    background-color: #235bca;

}